body{
    background-color: #2e222f;
    color: #c7dcd0;
    text-shadow: black 2px 2px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#data{
    background-color: #694f62;
    color: #c7dcd0;
    border: none;
    border-radius: 9px;
    padding: 1.1rem;
    font-size: 3rem;
    font-family: monospace;
    box-shadow: black 3px 3px 5px;
}
#data:focus {
    outline: none;
    background-color: hsl(316, 14%, 49%);
    box-shadow: black 5px 5px 5px;
}
#data:hover{
    background-color: hsl(316, 14%, 49%);
    box-shadow: black 5px 5px 5px;
}
#data:active{
    background-color: hsl(316, 14%, 55%);
    box-shadow: black 2px 2px 5px;
}
.selection{
    background-color: #694f62;
    color: #c7dcd0;
    border: none;
    border-radius: 9px;
    padding: 1.1rem;
    font-size: 3rem;
    cursor:pointer; 
    box-shadow: black 3px 3px 5px;
}
.selection:hover{
    background-color: hsl(316, 14%, 49%);
    box-shadow: black 5px 5px 5px;
}
.selection:active{
    background-color: hsl(316, 14%, 55%);
    box-shadow: black 2px 2px 5px;
}
label{
    padding: 1.1rem;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial;
}
#result{
    font-size: 3rem;
    font-family: monospace;
    color: #c7dcd0;
}
@media (max-width:1024px) {
    #data{
        font-size: 1.1rem;
    }
    label{
        font-size: 1.1rem;
    }
    .selection{
        font-size: 1.1rem;
    }
    #result{
        font-size: 1.1rem;
    }
}