body{
    background-color: #2e222f;
    color: #c7dcd0;
}
#data{
    background-color: #694f62;
    color: #c7dcd0;
    border: none;
    border-radius: 9px;
    padding: 10px;
    font-size: 3em;
}
#sort{
    background-color: #694f62;
    color: #c7dcd0;
    border: none;
    border-radius: 9px;
    padding: 10px;
    font-size: 3em;
    cursor:pointer;
}
#sort:hover{
    background-color: hsl(316, 14%, 49%);
}
#sort:active{
    background-color: hsl(316, 14%, 55%);
}
label{
    padding: 10px;
    font-size: 3em;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial;
}
